/*

  BAIT1023 WEB DESIGN AND DEVELOPMENT        
  Assignment

  -------Desktop View-------
  Author: Eunice Teh Pei Yeen

  -------Mobile View--------
  Author: Eunice Teh Pei Yeen
    
  Filename:   thankyou.css
    
*/

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

/* Body Styles */
body {
  background-image: url("../images/Payment/background-final.jpg");
}

/* Container size */
.finaltitle {
  margin: auto;
  width: 50%;
  padding-top: 15%;
  padding-bottom: 15%;
}

/* Container Styles */
.finaltitle h1 {
  font: 50px "Architects Daughter", cursive;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

center {
  margin-bottom: 5%;
}
center a:link,
center a:visited {
  font-family: Arial, Helvetica, sans-serif;
  color: honeydew;
  background-color: burlywood;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  text-decoration: none;
}

center a:hover,
center a:active {
  color: aliceblue;
}

/* Media Query*/
@media only screen and (max-width: 500px) {
  .finaltitle {
    flex-flow: wrap;
    width: 100%;
    margin-top: 50%;
    margin-right: 100%;
  }
}
